*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coiny", system-ui;
}
.navbar{
    /* background-color: #8f1818; */
    height: 80px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img{
    height: 35px;
}
.btn{
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar div a{
    text-decoration: none;
    color: black;

}

.home-page .home{
    background-color: #fcf5e9;
}
.home,.about,.contact{
    padding: 5px 15px 5px 15px;
}
.home-page .about:hover,.contact:hover{
    background-color: #fcf5e9;
}
.quotation{
    margin-top: 120px;
    /* background-color: red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation div{
    width: 800px;
    font-size: 45px;
}
.quotation div p{
    text-align: center;
}
.quotation div span{
    background-color: #c9e0d4;
    padding: 5px 10px;
}
.img-section{
    /* background-color: rgb(223, 47, 70); */
    margin: 140px 0 40px 0;
    width: 100%;
    height: 1280px;
    display: flex;
    justify-content: center;
}
.images{
    width: 90%;
    height: 1100px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 15px;

    justify-content: center;
/* margin: 100px 20px 0 20px; */
}
.images img{
    height: 410px;
    border-radius: 10px ;
}
.images img:hover{
    transform: scale(1.03);
    transition: ease-in-out 0.3s;
}
footer{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
footer div img{
    height: 35px;
    margin-left: 200px;
}
.follow{
   margin:0 130px 0 0;
}
.follow p{
    text-align: center;
    /* margin-top: 50px; */
}
.icons{
    /* margin-right: 200px; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: blink 3s infinite;
}
.icons a i {
    font-size: 25px;
  animation: blink 1.5s infinite;
}


.icons a:nth-child(1) i { color: rgb(24,119,242);}   
.icons a:nth-child(2) i { color: rgb(225,48,108); }  
.icons a:nth-child(3) i { color: rgb(88,8,71);  }
.icons a:nth-child(4) i { color: rgb(255,0,0);  }  
.icons a:nth-child(5) i { color: rgb(10,102,194); }  
.icons a:nth-child(6) i { color: rgb(29,161,242);}   


@keyframes blink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0.3; }
}


/*  about page css*/


.about-page .about{
    background-color:#fcf5e9;
}
.about-page .home:hover,
.about-page .contact:hover
{
    background-color: #fcf5e9;
}
.services-section{
    height: 300px;
    color: white;
    background-color:#333333;
    margin: 150px 0 0 0;
    padding: 20px;
}
.services-section p{
    /* margin-top: 20px; */
}
.our-services{
    /* margin-top: 50px !important; */
    width: 100%;
    text-align: center;
    font-size: 35px;
}
.services{
    /* background-color: red; */
    width: 90%;
    height: 200px;
    /* margin: 50px 120px 0 12px; */
    /* margin: 0 50px 0 100px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.services div{
    /* background-color: blue; */
    text-align: center;
    width: 350px;
}
.photography p{
/* max-width: 40ch; */
}
.services span{
    display: block;
    font-size: 25px;
    /* text-align: center; */
}
.our-team{
     text-align: center;
    font-size: 25px;
    margin: 40px 0 40px 0;
}
.about-page .images-div{
    margin-bottom: 100px;
    display: flex;
    gap:20px;
    justify-content: center;
 }
 .about-page .images-div img{
    height: 280px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 0.5s;
 }
 .about-page .images-div img:hover{
    filter: grayscale(0%);
 transform: scale(1.05);
 }
  .about-page .images-div p{
    text-align: center;
  }


/* contact page css*/
.contact-page .home{
    background-color: none;
}
.contact-page .contact{
    background-color: #fcf5e9;
}
.contact-page .about:hover,
.contact-page .home:hover{
background-color: #fcf5e9;
}
.contact-page .quotation{
    /* padding: 100px; */
    height: 500px;
    background-color: #333333;
    margin-top: 20px;
}

.contact-page .quotation p{
    margin: 0 200px 0 200px;
    color: white;
    font-size: 50px;
    text-align: center;
}
.contact-page .quotation span{
    color: #333333;
    background-color: white;
}
.contact-us-section{
    margin: 0 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-us-section p{
    margin-top:30px;
    font-size: 25px;
    font-weight: 0;
}
.contact-us-section .question{
    font-family: "Sono", monospace;
    text-align: center;
    margin-bottom: 30px;
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section form{
    display: flex;
    flex-direction: column;
}
.contact-page input{
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    width: 700px;
    height: 100px;
    display: block;
    margin-top: 10px;
    font-size: 25px;
     font-family: "Sono", monospace;

}
.contact-page textarea {
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    width: 700px;
    height: 200px;
    margin-top: 10px;
    font-size: 25px;
     font-family: "Sono", monospace;
     margin-bottom: 30px;
}
.contact-us-section button{
  cursor: pointer;
    background: none;
    margin: 0px 0 100px 20px;
    width: 650px;
    height: 50px;
    font-family: "Sono", monospace;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 15px;
     transition: transform 0.3s ease;
  /* transform-origin: left center; */
  
}
 .contact-us-section button:hover {
  transform: scaleX(1.08);
  background-color: #333333;
  color: white;
 }  
 